.hom {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url('../../public/image/far1.JPG');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
